@import '../CSS/index.css';
@import '../CSS/cassetal.css';
@import '../CSS/detail.css';


@media (max-width: 550px) {
    body {
        margin: 1em 1em ;
    }
    .header{
        padding: 0;
    }
    .header .header_ttl  {
        /* font-size: 1.5em; */
        font-weight: bold;
    }

    .header .header_des {
        font-size: 1em;
    }
   .cst {
    max-height: 150px;
   }

   .cst_body h2 {
    font-size: 18px;
   }

   .cst_body h4  {
    font-size: 12px;
   }
   .cst_des {
    font-size: 12px;
   }
   .cst_button {
    padding: 6px;
   }
   .header_ttl {
    font-size: 1.5em;
   }

   .container_edit {display: flex;}

}

@media (max-width: 450px) {
    .cst {
        /* margin-right: 1em;
        margin-left: 1em;
        width: 380px; */
        min-width: 350px;
       }
    
    .cst_left {
        width: 40%;
    }
    .cst_right {
        width: 60%;
    }
    .cst_des {
        margin: 0 auto;
        margin-bottom: 0.25em;
    }
    .cst_icn {
        margin-right: 0;
    }
}